<!--<style>
    [class*="col-"] {
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }
</style>-->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="pickupCtrl">
 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 margin-top-10">
            <span class="mainTitle text-dark" style="font-size:25px;" translate="main.PICKUPORDERS" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 margin-top-5">
            <br />
            <p>
                <input class="form-control" placeholder="{{:: searchbyordernumberpersonnameorpersonphone}}" type="text" ng-model="ao.search" ng-model-options="{ debounce: 1000 }"/>
            </p>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6 margin-top-5" ng-if="hideCombo != true">
            <span for="ComplaintStatusID">
                {{:: selectorderstatus}}
            </span><br />
                   <select id="OrderSourceID" class="form-control" ng-model="OrderSourceID" ng-change="changeOrderState(OrderSourceID)">
                       <option value="OrderSourceID >0">{{:: getir}}</option>
                       <option value="OrderSourceID >0">{{:: trendyol}}</option>
                       <option value="OrderSourceID >0">{{:: migros}}</option>
                       <option value="OrderSourceID >700000021564">{{:: yemeksepeti}}</option>
                      
                       <!-- <select id="OrderSourceID" class="form-control" ng-model="OrderSourceID" ng-change="ordersources(OrderSourceID)">
                        <option value="OrderSourceID >1">{{:: TRENDYOLSTATUS}}</option>
                        <option value="OrderSourceID >2">{{:: GETIRSTATUS}}</option>
                        <option value="OrderSourceID >3">{{:: MIGROSSTATUS}}</option>
                        <option value="OrderSourceID >700000021564">{{:: YEMEKSEPETI}}</option> -->
                   </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 margin-top-5 pull-right visible-lg">
            <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left pull-right" ng-click="Back()">
                <span translate="main.BACK">Back</span>
            </a>
        </div>
        <div class="col-md-1 margin-top-5 pull-right visible-md">
            <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"></a>
        </div>
    </div>
    <div>
    
        <div class="table-responsive col-lg-12">
            <table ng-table="us.tableParams" class="table table-striped table-hover table-condensed">
                <tbody  ng-repeat="order in orders | filter:({OrderTypeID:5})">
                    <tr ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                      
                        <td data-title="trOrderNumber" data-sortable="'OrderNumber'" width="7%">
                            <span ng-if="order.OrderTypeID != 0">
                                <label class="tooltips ti-thought hidden-sm hidden-xs" tooltip="{{::order.OrderProducts}}"   ng-click="SelectItem(order.id)" tooltip-placement="right"></label>
                                {{ :: order.OrderNumber  }}
                            </span>
                        </td>
                        <td data-title="trOrderDate" data-sortable="'OrderDate'" width="10%">
                            {{ :: order.OrderDateTXT}}
                        </td>
                        <td class="text-capitalize" data-title="trOrderState" data-sortable="'OrderStateID'" width="10%">
                            {{ ::order.OrderState}}
                        </td>
                        <td class="text-capitalize" data-title="trStore" data-sortable="'StoreID'" width="10%" ng-click="orderStatus(order)">
                            {{ :: order.Store }}
                        </td>
                        <td data-title="trOrderSource" width="10%">
                            {{:: order.OrderSource}}
                        </td>
                        <td class="text-uppercase " data-title="trPerson" data-sortable="'PersonID'" width="10%">
                            {{ :: order.persons[0].Person }} <span ng-if="::order.Alias">({{::order.Alias}})</span>
                        </td>
                   
                        <td class="text-capitalize" data-title="trPaymentStatus" data-sortable="'PaymentStatus'" width="10%">
                            {{ :: order.PaymentStatus}}
                        </td>
                   
                        <td data-title="trAmount" data-sortable="'Amount'" width="10%">
                            {{:: order.Amount|number:2}} <span>{{:: 'main.CURRENCY_SYMBOL' | translate}}</span>
                        </td>
                        <td style="white-space: nowrap;grid-column-sizing:auto;"  width="10%">
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="user.restrictions.pickuppaymentbuttons=='Enable'">
                                <button class="btn btn-o btn-success ti-credit-card pull-left" ng-click="OrderPaymentDeteails(order)" ng-disabled="::order.PaymentStatusID==1"></button>
                                <button class="btn btn-o btn-primary ti-share pull-right" ng-click="SaveOpenOrders(order)" ng-disabled="::order.PaymentStatusID==1 && order.OrderStateID==4"></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>